* {
    text-align: center;
    background-color: lightgray;
}

.title {
    font: Tahoma, serif;
}

#page-title {
    font-size: 40px;
}

.index, .index * {
    font-size: 18px;
    padding: 8px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

ol * {
    text-align: left;
}

.index * * {
    border-radius: 8px;
    width: 150px;
    background-color: beige;
}

img {
    width: 640px;
    height: auto;
}

#nav-menu * {
    display: inline-block;
    color: black;
    background-color: beige;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    margin: 8px 10px;
    width: 150px;
}

.body * {
    width: 840px;
    margin: 8px auto;
}